@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideLeftBounce {
    0%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(3.5%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideRightBounce {
    0%{
        transform: translateX(100%);
    }
    80%{
        transform: translateX(-3.5%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    from{
        transform: scale(0.6);
        opacity: 0;
    }
    
    70%{
        transform: scale(1);
        opacity: 1;
    }
}
.fadeIn{
    animation: fadeIn 1s ease-in-out forwards;
    animation-timeline: view();
}
body{
    margin: 0;
    background-color: #F8F8F8;
}
.logo{
    width: 230px;
    height: 102px;
}
.navbar{
    background-color: black;
    height: 102px;
    display: flex;
}
.navButtons{
    display: flex;
    margin-left: auto;
    gap: 20px;
}
.navBtn{
    color: white;
    font-family: Saira Condensed;
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    width: 186.09px;
    height: 57px;
    text-align: center;
}
.navBtnRed{
    background-color: red;
    padding: 22.5px 10px;
    margin: 0;
    border-radius: 25px;
}
.title{
    font-family: Roboto Slab;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    animation: slideInLeft 1s;
}
.text1{
    animation: slideLeftBounce 1s;
}
.text3{
    animation: slideRightBounce 1s;
}
.web-top{
    margin-left: 10%;
    margin-right: 10%;
}
.under-title{
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 300;
    text-align: left;
    animation: slideInLeft 1s;
    animation-delay: 100ms;
}
.mini-texts{
    display: flex;
    justify-content: center;
    gap: 5%;
    text-align: center;
    margin: 0 5%;
}
.mini-text{
    font-family: Inder;
    font-size: 32px;
    font-weight: 400;
    padding: 11px 50px;
    background-color: rgba(217, 217, 217, 1);
}
.text-overlay-line{
    max-width: 800px;
    color: black;
    margin-top: 20px;
}
.image-container {
    position: relative;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
  }
.image-container .text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease; /* Płynne pojawienie napisu */
}
.image-container:hover img {
  filter: blur(12px); /* Stopień rozmycia zdjęcia */
}

.image-container:hover .text-overlay {
  opacity: 1; /* Pojawienie się napisu na zdjęciu */
}
.text-overlay h3, .text-overlay p{
    max-width: 800px;
    margin: 100px auto;
}
.text-overlay h3{
    font-family: Roboto Slab;
    font-size: 50px;
    margin-bottom: 0;
}
.text-overlay p{
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 20px;
}
.projects{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.image-container img{
    margin-bottom: 40px;
    max-width: 980px;
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
.footer-line{
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 70px;
}
.footer-paragraf{
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 300;
    text-align: left;    
}
.footer-title{
    font-family: Roboto Slab;
    font-size: 28px;
    font-weight: 600;
}
.footer-list{
    list-style: none;
    font-family: Saira Condensed;
    font-size: 24px;
    font-weight: 300;
    padding: 0;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
}
.footer-text1{
    max-width: 500px;
}
.footer-text1 img{
    margin-left: 50px;
}
.footer-texts{
    margin-left: 50px;
    display: flex;
    gap: 50px;
}
@media (max-width: 1210px) {
    .projects img{
        width: 600px;
    }
    .mini-text{
        font-size: 20px;
    }
    .text-overlay{
        width: 500px;
        height: 280px;
        margin: 0 15%;
    }
    .image-container{
        width: 700px;
        height: 280px;
    }
    .text-overlay h3{
        font-size: 25px;
    }
    .text-overlay p{
        font-size: 15px;
    }
    .text-overlay-line{
        width: 400px;
    }
}
@media (max-width: 1375px) {
    .footer-content{
        grid-template-columns: 1fr;
    }
    .footer-texts{
        margin: 0 auto;
    }
    .footer-text{
        text-align: center;
    }
    .footer-text1{
        margin: 0 auto;
    }
}