.logo{
    width: 230px;
    height: 102px;
}
.navbar{
    background-color: black;
    height: 102px;
    display: flex;
    position: fixed;
    top: 0;
    margin-bottom: 150px;
    width: 100%;
    z-index: 1000;
}
.navButtons{
    display: flex;
    margin-left: auto;
    gap: 20px;
}
.navBtn{
    color: white;
    font-family: Saira Condensed;
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    width: 186.09px;
    height: 57px;
    text-align: center;
    text-decoration: none;
}
.navBtnRed{
    background-color: red;
    padding: 22.5px 10px;
    margin: 0;
    border-radius: 25px;
}